---
import starlaneIcon from "../assets/starlane-icon.svg";
import Founder from "../components/about/Founder.astro";
import Member from "../components/about/Member.astro";
import Image from "../components/basics/Image.astro";
import SectionHeading from "../components/basics/SectionHeading.astro";
import Layout from "../layouts/Layout.astro";

import julian from "../assets/img/group/julian.png";
import matthew from "../assets/img/group/matt.png";
import thomas from "../assets/img/group/thomas.png";

import eli from "../assets/img/group/eli.jpeg";
import jackson from "../assets/img/group/jackson.png";
---

<Layout title="About Us">
	<SectionHeading
		title="Who are we?"
		subtitle="The story of Starlane Studios"
	/>

	<div class="grid gap-2 mt-15">
		<h1 class="text-xl text-deepblue-7 dark:text-gravel-0 font-bold mb-2">About Us</h1>
		<p>We are Starlane Studios,</p>
		<p>
			As a group of passionate developers, artists and gamers, we strive
			to create high quality games and software for all to enjoy. What
			started as a collective interest in game modding quickly turned out
			in a creative quest to build games we enjoy and love to share with
			others.
		</p>
		<p>
			Our team consists of members spread across the globe, with everyone
			taking up their own roles and tasks. The team is lead by Starlane
			Studios founder & technical lead Julian Mills, who has spent years
			developing software solutions and fun games. We have experience in
			fields ranging from web development and game design all the way to
			composing music and making art.
		</p>
		<p>
			A complete overview of all our projects can be found on our projects
			page. Interested in our future? Feel free to join our community!
		</p>
	</div>

	<div class="grid gap-2 mt-10">
		<h1 class="text-xl text-deepblue-7 dark:text-gravel-0 font-bold mb-2">Our Goals</h1>
		<p>
			Here at Starlane Studios we believe delivering high quality games
			and software should be our top priority. We spend significant time
			testing, improving, and revising our progress until we receive the
			results we want. This assures us we are always putting out the best
			work we can make.
		</p>
	</div>

	<div class="flex mt-13 justify-center">
		<Image
			src={starlaneIcon}
			alt="Starlane Studios Icon"
			class="w-19"
		/>
	</div>

	<SectionHeading
		title="Meet our Group"
		subtitle="The people actively working on Starlane projects"
		class="my-13"
	/>

	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-7">
		<Founder
			name="Julian"
			alt="Image of Julian Mills"
			role="Founder & Lead Creative"
			bio="Passionate developer and designer who enjoys creating games and building creative solutions. Leads all Starlane projects."
			linkedIn="macjuul"
			location="The Netherlands"
			image={julian}
		/>
		<Founder
			name="Matthew"
			alt="Image of Matthew McFadden"
			role="Co-Founder & Developer"
			bio="Currently in college majoring in ICT and AI. Passionate software engineer and game developer. Handles studio operations."
			linkedIn="mmcfad"
			location="Kentucky, USA"
			image={matthew}
		/>
		<Founder
			name="Thomas"
			alt="Image of Thomas Buwick"
			role="Co-Founder & Planner"
			bio="Enjoys designing games, making art with Blender, and creating pixel-art on the side. Handles project planning and concepts."
			linkedIn="thomasbuwick"
			location="Illinois, USA"
			image={thomas}
		/>
	</div>

	<div class="grid grid-cols-1 sm:grid-cols-2 gap-7 mt-7">
		<Member
			name="Eli"
			alt="Image of Eli"
			role="Music & SFX"
			bio="A music producer and sound designer who enjoys creating music for games and other media."
			location="Ohio, USA"
			image={eli}
		/>
		<Member
			name="Jackson"
			alt="Image of Jackson Bean"
			role="Game Development"
			bio="Big beanus"
			location="Virginia, USA"
			image={jackson}
		/>

	</div>
</Layout>
