---
import BasePage from "../components/scaffold/BasePage.astro";
import Footer from "../components/scaffold/Footer.astro";
import Header from "../components/scaffold/Header.astro";
import MobileNav from "../components/scaffold/MobileNav.astro";
import Sphere from "../components/scaffold/Sphere.astro";

import "../styles/global.css";

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const title = Astro.props.title ? `${Astro.props.title} - Starlane Studios` : "Starlane Studios";
const { description, image } = Astro.props;

const SPHERES = [
	[-600, 180, 180],
	[725, -50, 170],
	[-925, 125, 120],
	[600, -100, 100],
	[880, 100, 360],
	[-800, 50, 130],
	[-500, -400, 70],
	[525, -250, 180],
	[780, -100, 100],
];
---
<BasePage title={title} description={description} image={image}>
	<div class="main-container mx-auto" style="min-height: calc(100vh - 12rem);">
		<Header />
		<slot />

		<div class="fixed top-0 left-[50vw] -z-1">
			{SPHERES.map(([x, y, size], i) => (
				<Sphere
					x={x}
					y={y}
					size={size}
				/>
			))}
		</div>
	</div>

	<Footer />
	<MobileNav />
</BasePage>